{% extends "base.html" %}
{% load static %}

{% block title %}Convention List{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      {% if latest_convention_list %}
      <ul>
          {% for convention in latest_convention_list %}
              <li><a href="{% url 'con:convention-detail' convention.key %}">{{ convention.name }}</a></li>
          {% endfor %}
      </ul>
  {% else %}
      <p>No Conventions are available.</p>
  {% endif %}
    </div>
  </div>

</div>
{% endblock content %}
